<app-header></app-header>
<div class="ui grid container">
  <h1 class="ui horizontal divider header">Client Management</h1>

  <!-- <div class="ui centered">
    <button class="ui labeled secondary icon button">
    <i class="add icon"></i>
    Add Client
  </button>
  </div>

  <div class="ui center">
  <div class="ui right floated pagination menu">
    <a class="icon item">
      <i class="left chevron icon"></i>
    </a>
    <a class="item">1</a>
    <a class="item">2</a>
    <a class="item">3</a>
    <a class="item">4</a>
    <a class="icon item">
      <i class="right chevron icon"></i>
    </a>
  </div>
  </div>-->

  <div class="ui cards centered">
    <div *ngFor="let client of clients" class="card">
      <div class="content">
        <div id="options" class="right floated ui">
          <button class="ui circular mini basic icon button">
            <i class="open folder icon"></i>
          </button>
          <button class="ui circular mini basic icon button">
            <i class="edit icon"></i>
          </button>
          <button class="ui circular icon mini basic button" (click)="triggerDeleteClient(client.id)">
            <i class="trash icon"></i>
          </button>
        </div>
        <!-- button options -->
        <div class="header">{{client.name}}</div>
        <div class="description">
          <p>{{client.emailAddress}}</p>
          <p>{{client.phoneNumber}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- temp code w/ list of todos -->
  <div class="ui icon floating message">
    <i class="info circle icon"></i>
    <div class="content">
      <h2 class="ui">
        Things to do for this Page
      </h2>
      <div class="ui list">

        <div class="item">
          <i class="check square outline icon"></i>
          <div class="content">
            This page is only visible to SYS_ADMIN
          </div>
        </div>

        <div class="item">
          <i class="check square outline icon"></i>
          <div class="content">
            Display all clients
          </div>
        </div>

        <div class="item">
          <i class=" square outline icon"></i>
          <div class="content">
            Paginate clients
          </div>
        </div>

        <div class="item">
          <i class="square outline icon"></i>
          <div class="content">
            Add clients
          </div>
        </div>

        <div class="item">
          <i class="square outline icon"></i>
          <div class="content">
            Edit clients
          </div>
        </div>

        <div class="item">
          <i class="square outline icon"></i>
          <div class="content">
            Delete clients
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end of temp code-->
</div>

<div id="deleteModal" class="ui basic modal">
  <div class="ui icon header">
    <i class="trash icon"></i>
    Delete Clients
  </div>
  <div class="content">
    <p>{{deleteMessage}}</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button" [ngClass]="{'loading': loading}">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>
