#clients {
  padding-left: 0;
  padding-right: 0;
}

/*.ui.table thead:not(.full-width) th:last-child {
  pointer-events: none;
  background: 0 0;
  font-weight: 400;
  color: rgba(0,0,0,.4);
  box-shadow: 1px -1px 0 #FFF;
}

.ui.table thead tr>th:last-child {
  border-right: none;
  border-left: 1px solid rgba(34,36,38,.1);
}

.ui.table thead tr:last-child>th:last-child {
  border-radius: 0 .28571429rem 0 0;
}

td:last-child {
  text-align: center;
}*/
