<div class="ui middle aligned center aligned grid">
  <div class="column">

    <form class="ui large form" (ngSubmit)="login()" #loginForm="ngForm" novalidate>

      <div class="ui raised segment">

        <h2 class="ui header item">
          <div class="content vertical aligned">
            <i class="huge icons">
              <i class="big thin circle icon"></i>
              <i class="users icon"></i>
            </i>
            UMAS Login
          </div>
        </h2>

        <div *ngIf="loginFailed" class="ui negative message">
          <div class="header">
            Login failed!
          </div>
          <p>{{errorMessage}}</p>
        </div>

        <div class="field">
          <div class="ui left icon large input">
              <i class=" user icon"></i>
            <input id="email" type="text" name="email" placeholder="Email Address" [(ngModel)]="model.username" required>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon large input">
              <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password" [(ngModel)]="model.password" required>
          </div>
        </div>

        <button class="ui huge black button" [ngClass]="{'loading': loading}" [disabled]="!loginForm.form.valid">
          Sign In
          <i class="sign in icon right"></i>
        </button>
      </div>

      <div class="ui error message"></div>

    </form>
  </div>
</div>
