<div class="ui cards centered">
  <div class="card">
    <div class="content">
      <i class="right basic button floated trash outline icon"></i>
      <i class="right floated edit icon"></i>
      <i class="right floated unhide icon"></i>
      <div class="header">
        Elliot Fu
      </div>
      <div class="meta">
        Friends of Veronika
      </div>
      <div class="description">
        Elliot requested permission to view your contact details
      </div>
    </div>
    <div class="extra content">
      <div class="ui three buttons">
        <div class="ui basic button green"><i class="unhide icon"></i></div>
        <div class="ui basic orange button"><i class="edit icon"></i></div>
        <div class="ui basic red button"><i class="trash outline icon"></i></div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <div class="header">
        Elliot Fu
      </div>
      <div class="meta">
        Friends of Veronika
      </div>
      <div class="description">
        Elliot requested permission to view your contact details
      </div>
    </div>
    <div class="extra content">
      <div class="ui three buttons">
        <div class="ui basic button green"><i class="unhide icon"></i></div>
        <div class="ui basic orange button"><i class="edit icon"></i></div>
        <div class="ui basic red button"><i class="trash outline icon"></i></div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <div class="header">
        Elliot Fu
      </div>
      <div class="meta">
        Friends of Veronika
      </div>
      <div class="description">
        Elliot requested permission to view your contact details
      </div>
    </div>
    <div class="extra content">
      <div class="ui three buttons">
        <div class="ui basic button green"><i class="unhide icon"></i></div>
        <div class="ui basic orange button"><i class="edit icon"></i></div>
        <div class="ui basic red button"><i class="trash outline icon"></i></div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <div class="header">
        Elliot Fu
      </div>
      <div class="meta">
        Friends of Veronika
      </div>
      <div class="description">
        Elliot requested permission to view your contact details
      </div>
    </div>
    <div class="extra content">
      <div class="ui three buttons">
        <div class="ui basic button green"><i class="unhide icon"></i></div>
        <div class="ui basic orange button"><i class="edit icon"></i></div>
        <div class="ui basic red button"><i class="trash outline icon"></i></div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="content">
      <div class="header">
        Elliot Fu
      </div>
      <div class="meta">
        Friends of Veronika
      </div>
      <div class="description">
        Elliot requested permission to view your contact details
      </div>
    </div>
    <div class="extra content">
      <div class="ui three buttons">
        <div class="ui basic button green"><i class="unhide icon"></i></div>
        <div class="ui basic orange button"><i class="edit icon"></i></div>
        <div class="ui basic red button"><i class="trash outline icon"></i></div>
      </div>
    </div>
  </div>

</div>
