<div class="inline ui large secondary labeled icon menu">
  <div class="header item">
    <i class="huge icons">
      <i class="big thin circle icon"></i>
      <i class="users icon"></i>
    </i>
    UMAS
  </div>
  <div id="main-menu" class="menu">
    <a class="item" routerLink="/clients" *ngIf="authenticationService.user.roles.indexOf('SYS_ADMIN') > -1" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="tasks icon"></i> Clients</a>
    <a class="item" routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="users icon"></i> Users</a>
    <a class="item" routerLink="/groups" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="cubes icon"></i> Groups</a>
    <a class="item" routerLink="/roles" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="doctor icon"></i> Roles</a>
  </div>
  <div class="right menu">
    <a class="item"><i class="settings icon"></i> Admin</a>
    <a class="item" [routerLink]="['/login']"><i class="sign out icon"></i> Log out</a>
  </div>
</div>
