<app-header></app-header>
<div class="ui grid container">
  <h1 class="ui horizontal divider header">User Management</h1>


  <!-- temp code w/ list of todos -->
  <div class="ui icon floating message">
    <i class="info circle icon"></i>
    <div class="content">
      <h2 class="ui">
        Things to do for this Page
      </h2>
      <div class="ui list">

        <div class="item">
          <i class="square outline icon"></i>
          <div class="content">
            Display all users
          </div>
        </div>

        <div class="item">
          <i class="square outline icon"></i>
          <div class="content">
            Add users
          </div>
        </div>

        <div class="item">
          <i class="square outline icon"></i>
          <div class="content">
            Edit users
          </div>
        </div>

        <div class="item">
          <i class="square outline icon"></i>
          <div class="content">
            Delete users
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end of temp code-->
</div>
